{% extends 'base.html.twig' %}

{% block title %}Hello UserSpaceController!{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
<main>
    <section class='block' id='profile'>
        <div class="flex-row">
            <h1>Profile</h1>
            <img src='img/user.png' alt="photo de profile"/>
        </div>
        <div class="flex-row wrap">
            <div class="flex-row">
                <input type="radio" id='passenger' name='profile-type' checked>
                <label for='passenger'><p>Passager</p></label>
            </div>
            <div class='flex-row'>
                <input type="radio" id='driver' name='profile-type'>
                <label for='driver'><p>Conducteur</label>
            </div>
            <div class='flex-row'>
                <input type="radio" id='both' name='profile-type'>
                <label for='both'><p>Les deux</p></label>
            </div>
        </div>
        <div class="allInput">
            <table>
                <tr>
                    <td>Nom:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='text' class='input-place' placeholder='Boulanger'>
                        </div>
                    </td>
                <tr>
                <tr>
                    <td>Prenom:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='text' class='input-place' placeholder='Tom'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='email' class='input-place' placeholder='utilisateur@gmail.com'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='phone' class='input-place' placeholder='08 00 00 00 00'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pseudo:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='text' class='input-place' placeholder='utilisateur'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>mot de passe actuel:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='password' id='passwordInput' class='input-place' placeholder='*************'/>
                            <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>nouveau mot de passe:</td>
                    <td>
                        <div class='inputBackground'>
                            <input type='password' id='newPasswordInput'class='input-place' placeholder='*************'/>
                            <img id='newPassword' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <button class="standard-btn">Enregistrer</button>
    </section>
    <section class="flex-row">
        <section class='flex-column' id="rulesImgLeft">
            <img src="img/cleaning.png" alt="netoyer">
            <img src="img/handshake.jpg" alt="respect">
            <img src="img/quitting-time.png" alt="être à l'heure">
            <img src="img/checklist.png" alt="être organiser">
            <img src="img/brain.png" alt="travailler inteligament">
        </section>
        <section class='block' id='carpoolInfo'>
            <h1>Information covoiturage</h1>
            <div class='flex-row'>
                <h3>Véhicule 1</h3>
                <p style='text-decoration:underline;'>modifier</p>
            </div>
            <div>
                <p>Plaque d'imatriculation: PL-123AK</p>
                <p>Premiière immatriuclation: 01/05/2005</p>
                <p>Modèle, marque, couleur</p>
                <p>Nombre de place disponible: 3</p>
                <p>Energie utilisé: électricité</p>
                <img src="img/plus.png" alt='ajouter un élément'>
                <h3>Préférence:</h3>
                <div class="flex-row ref">
                    <div class="flex-row">
                        <input type="checkbox" id='smock'/>
                        <label for='smock'><p>Fummeur</p></label>
                    </div>
                    <div class="flex-row">
                        <input type="checkbox" id='animals'/>
                        <label for='animals'><p>Animaux</p></label>
                    </div>
                </div>
                <div class="flex-row">
                    <p>Nouveaux:</p>
                    <div class='inputBackground'>
                        <input type='text' class='input-place' placeholder='préférence'/>
                    </div>
                    <button class="standard-btn">Ajouter</button>
                </div>
            </div>
            <button class='standard-btn'>Enregistrer</button>
        </section>
        <section class='flex-column' id="rulesImgRight">
            <img src="img/brain.png" alt="travailler inteligament">
             <img src="img/checklist.png" alt="être organiser">
            <img src="img/quitting-time.png" alt="être à l'heure">
            <img src="img/handshake.jpg" alt="respect">
            <img src="img/cleaning.png" alt="netoyer">
        </section>
    </section>
    <section class="block" id="carpoolOpinion">
        <h1>Avis sur le dernier covoiturage</h1>
        <div class="flex-row">
            <div class="flex-row">
                <input type="radio" id='passenger' name='opinion' checked>
                <label for='passenger'>
                    <p>Bien passé</p>
                </label>
            </div>
            <div class='flex-row'>
                <input type="radio" id='driver' name='opinion'>
                <label for='driver'>
                    <p>Mal passé</p>
                </label>
            </div>
        </div>
        <div class="flex-row">
            <label for="optionText"><p>Avis:</p></label>
            <textarea placeholder="Avis"></textarea>
        </div>
        <button class="standard-btn">Valider</button>
    </section>
    <section class="block" id='resumeTravel'>
        <h1>Vos voyages</h1>
        <div class="sub-block">
            <div class='flex-row'>
                <h2>Pseudo</h2>
                <img src='img/userPicture.jpg' alt="phote de profil"/>
                <h3>4/5</h3>
            </div>
            <div class='flex-row'>
                <h2>9,00€</h2>
                <p>2 places restantes</p>
            </div>
            <div class='flex-row'>
                <div>
                    <p>Départ: 10/11/2024 à 9h00</p>
                    <p>Arrivée: 10/11/2024 à 10h30</p>
                </div>
                <p>Ecologique: oui</p>
            </div>
            <button class='standard-btn'>Détails</button>
        </div>
    </section>
    <section class="block" id="histori">
        <h1>Historique</h1>
        <div class="sub-block">
            <div class="flex-row">
                <div>
                    <p>Départ: 9h00 à Lille</p>
                    <p>Arrivée: 10h30 à Valencienne</p>
                </div>
                <p>9 crédits</p>
            </div>
            <div class='flex-row'>
                <button class="standard-btn">Anuller</button>
                <button class="standard-btn">Détails</button>
                <button class="standard-btn">Démarer</button>
            </div>
        </div>
        <div class="sub-block">
            <div class="flex-row">
                <div>
                    <p>Départ: 9h00 à Lille</p>
                    <p>Arrivée: 10h30 à Valencienne</p>
                </div>
                <p>9 crédits</p>
            </div>
            <div class='flex-row'>
                <button class="standard-btn">Anuller</button>
                <button class="standard-btn">Détails</button>
                <button class="standard-btn">Démarer</button>
            </div>
        </div>
    </section>
    <section class="block" id="travelOutpute">
        <h1>Saisie d'un voyage</h1>
        <div class='allInput'>
            <div class="inputBackground search">
                <img src="img/loupe.png" alt='loupe'/>
                <input type='search' class='input-place' placeholder='Lieu de départ'/>
            </div>
            <div class="inputBackground search">
                <img src="img/loupe.png" alt='loupe'/>
                <input type='search' class='input-place' placeholder="Lieu d'arrivée"/>
            </div>
            <div class="flex-row">
                <div class="inputBackground ">
                    <img src="img/shuttle.png" alt='départ'/>
                    <input type='time' class='input-place'/>
                </div>
                <div class="inputBackground">
                    <img src="img/finish-flag.png" alt='arrivée'/>
                    <input type='time' class='input-place'/>
                </div>
            </div>
            <div class="flex-row">
                <select>
                    <option><p>Choisir un véhicule</p></option>
                    <option><p>Véhicule 1</p></option>
                    <option><p>autre</p></option>
                </select>
                <div class="inputBackground">
                    <img src="img/price-tag.png" alt='horloge'/>
                    <input type='text' class='input-place' placeholder="prix en crédits"/>
                </div>
            </div>
        </div>
        <div>
            <p style="width:77vw;">* attention 2 crédits sont pris par la plateforme pour le bon fonctionnement de cette dernière</p>
        </div>
        <button class="standard-btn">Enregistrer</button>
    </section>
</main>
{% endblock %}
