{% extends 'base.html.twig' %}

{% block title %}Hello RecrutmentController!{% endblock %}

{% block body %}
<main>
    <section class="block"id="recrutment">
        <h1>Rejoignez l'équipe EcoRide ! 🌍</h1>
        <p>Vous êtes passionné(e) par l'innovation, la mobilité durable, et souhaitez participer activement à la réduction de l'empreinte carbone ? EcoRide est à la recherche de talents engagés pour développer notre plateforme de covoiturage écoresponsable !</p>
        <h3>Postes à pourvoir:</h3>
        <ul>
            <li>Développeur Full-Stack (H/F)</br>Responsable du développement de nouvelles fonctionnalités, optimisation de l'interface utilisateur et maintien de l’infrastructure technique de la plateforme. Vous maîtrisez les technologies web modernes, aimez travailler en équipe, et avez un vrai sens de l'écologie.</li>
            <li>Chef de projet marketing (H/F)</hr>En charge de l'élaboration et de la mise en œuvre de la stratégie marketing d’EcoRide. Vous concevez des campagnes engageantes, animez les réseaux sociaux, et créez des initiatives pour mobiliser et fidéliser la communauté.</li>
            <li>Responsable de la relation client (H/F)</hr>Votre mission sera de répondre aux questions des utilisateurs, gérer les retours, et participer à l'amélioration continue de la plateforme. Vous êtes organisé(e), à l’écoute, et avez un excellent sens du service.</li>
        </ul>
        <h3>Profil recherché</h3>
        <ul>
            <li>Motivé(e) par les défis de la transition écologique et du transport durable.</li>
            <li>Rigoureux(se), créatif(ve), et prêt(e) à travailler en équipe pour faire d'EcoRide un acteur majeur de la mobilité responsable.</li>
            <li>Expérience dans le domaine du poste souhaité est un atout, mais nous croyons aussi aux potentiels qui veulent se former !</li>
        </ul>
        <h3>Pourquoi rejoindre EcoRide ?</h3>
        <ul>
            <li>Impact positif : Chaque projet, chaque idée contribue directement à un monde plus vert.</li>
            <li>Esprit d’équipe : Nous favorisons une culture collaborative, inclusive et dynamique.</li>
            <li>Flexibilité : Nous proposons des horaires de travail flexibles et des options de télétravail.</li>
        <ul>
        <p>Vous vous reconnaissez dans cette description ? Envoyez-nous votre CV et une lettre de motivation à recrutement@ecoride.com et faites partie de l'aventure EcoRide pour construire ensemble un futur plus durable !</hr>EcoRide - Pour une mobilité plus verte, ensemble.</p>
    </section>
</main>
{% endblock %}
