{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}


{% block body %}
<main>
    <section class="block" id="connexion">
        <h1>Connexion</h1>
        <div class="allInput">
            <div class="inputBackground">
                <img src="img/user.png" alt="username">
                <input type="text" class="input-place" placeholder="username"/>
            </div>
            <div class="inputBackground">
                <img src="img/key.png" alt="mot de passe">
                <input type="password" id="passwordInput" class="input-place" placeholder="mot de passe sécurisé"/>
                <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
            </div>
        </div>
        <p>*Le mot de passe doit cotenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</p>
        <button class="standard-btn">Connexion</button>
        <div class="flex-row">
            <a href='#'><p>Je n'ai pas de compte</p></a>
            <a href='#'><p>Mot de passe oublié</p></a>
        </div>
    </section>
</main>
{% endblock %}
