{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationSpaceController!{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
    {{encore_entry_script_tags('graph')}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            graph([200, 200, 20, 1000, 600, 700, 400],"NbCarpoolChart");
            graph([500, 800, 100, 300, 500, 555, 389],"nbCreditsChart");

        });
    </script>
{% endblock %}

{% block body %}
<main>
    <section class="block" id="createEmployee">
        <h1>Créer un compte employée</h1>
        <div class="allInput">
            <div class="inputBackground">
                <img src="img/user.png" alt="username">
                <input type="text" class="input-place" placeholder="username"/>
            </div>
            <div class="inputBackground">
                <img src="img/key.png" alt="mot de passe">
                <input type="password" id="passwordInput" class="input-place" placeholder="mot de passe sécurisé"/>
                <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
            </div>
            <p style="text-align:center;width:70%">* Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.</p>
        </div>
        <button class="standard-btn">Créer un compte</button>
    </section>
    <section class="block" id="nbCarpool">
        <h1>Nombre de covoiturage par jour</h1>
        <div class="flex-row">
            <img src="img/right-arrow.png" alt="flèche vers la gauche"/>
            <p>Semaine du 11/11/24 au 17/11/24</p>
            <img src="img/right-arrow.png" alt="flèche vers la droite"/>
        </div>
       <canvas id="NbCarpoolChart" style="width=fit-content;max-width:50vw;height:fit-content;max-height:20vw"></canvas>
    </section>
    <section class="block" id="nbCredit">
        <h1>Nombre de crédit en fonction des jours</h1>
        <div class="flex-row">
            <img src="img/right-arrow.png" alt="flèche vers la gauche"/>
            <p>Semaine du 11/11/24 au 17/11/24</p>
            <img src="img/right-arrow.png" alt="flèche vers la droite"/>
        </div>
        <canvas id="nbCreditsChart" style="width=fit-content;max-width:50vwwidth=fit-content;max-width:50vw;height:fit-content;max-height:20vw"></canvas>
    </section>
    <section class='block' id="totalCredit">
        <h1>Gain total de la plateforme</h1>
        <h3>100 000 crédis</h3>
    </section>
    <section class="block" id="blockAccount">
        <h1>Supendre un utiliseur ou un employée</h1>
        <div class="inputBackground search">
            <img src="img/loupe.png" alt='loupe'/>
            <input type='search' class='input-place' placeholder='Nom à suspendre'/>
        </div>
        <div class="sub-block">
            <div class="flex-row">
                <p>username</p>
                <p>utilisateur type</p>
                <img src="img/suspended.png" alt="susprendre"/>
            </div>
        </div>
    </section>
</main>
{% endblock %}
