{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeSpaceController!{% endblock %}

{% block body %}
<main>
    <section class="block" id="validOpinion">
        <h1>Validation des avis</h1>
        <div class="sub-block">
            <div class="flex-row">
                <p>Mail</p>
                <p>1</p>
            </div>
            <div class="flex-row">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vestibulum est viverra maximus bibendum rhoncus.</p>
                <img src="img/checkmark.png" alt="valider"/>
                <img src="img/close.png" alt="non valider"/>
            </div>
        </div>
        <div class="sub-block">
            <div class="flex-row">
                <p>Mail</p>
                <p>2</p>
            </div>
            <div class="flex-row">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Vestibulum est viverra maximus bibendum rhoncus.</p>
                <img src="img/checkmark.png" alt="valider"/>
                <img src="img/close.png" alt="non valider"/>
            </div>
        </div>
    </section>
</main>
{% endblock %}
