body {
    background-color: #5FACD3;
    margin: 0;
}

p, li{
    font-size: 1.5em;
}
h1{
    text-align: center;
    font-size: 2.2em;
}
h2{
    font-size: 2.0em;
}
h3{
    font-size: 1.8em;
}

/* navbar */
header{
    display: flex;
    flex-direction: row;
    background-color: #BEE9E7;
    padding: 0.5vw;
    align-items: center;
}
header>img{
    width: 3vw;
    height: 3vw;
    padding: 0 1vw;
}
header>nav{
    width: 90vw;
}
header>nav>ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header>nav>ul>li{
    margin: 0 2vw;
    font-size: 1.6em;
    align-items: center;
    text-align: center;
}
header>nav>ul>li:not(:last-child):hover{
    font-size: 1.8em;
    color: #BFE000;
    margin: 0 1.5vw;
}
header>nav>ul>li:last-child{
    display: flex;
}

header>nav>ul>li>img{
    width: 2vw;
    margin: 0 0.5vw;
}

/* footer*/
footer{
    background-color:#BEE9E7;
    text-align: center;
}

footer>section{
    display: flex;
    flex-direction: row;
    margin: 1vw 5vw;
}

footer img{
    width: 2.5vw;
}
footer>section.info>div:nth-child(3)>div>p>img{
    width: 2vw;
    margin-right: 0.5vw;
}

footer>section:first-child>div>div, footer>section:last-child>div:last-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 17vw;
}
footer>section:first-child>div>div>p, footer>section:last-child>div:last-child>p{
    margin: 1vw 2vw;
}

footer>section.info>div{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: space-around;
    
}
footer>section.info>div>div>p{
    margin: 0.5vw 0;
    text-decoration: underline;
}
.info>div:nth-child(3)>div>p:nth-child(4),.info>div:nth-child(3)>div>p:nth-child(5){
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.info>div:last-child div{
    margin: 0 7vw;
}
.legal-mentions{
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
.legal-mentions>div>p{
    text-decoration: underline;
}

/*home*/ 

.block{
    display: flex;
    flex-direction: column;
    margin:3vw auto;
    align-items: center;
    padding: 2vw;
    max-width: 1200px;
    background-color: #CAEBFF;
    border-radius: 5vw;
}

.clear {
    clear: both;
}
#presentation img{
    border-radius: 3vw;
    margin: 1vw 2vw;
    float: right;
    width: 25vw;
    height: 12vw;
    object-fit: cover;
}
#presentation>div:last-child img{
    float: left;
}
button{
    border-radius: 1.5vw;
    display: flex;
    margin: 0 auto;
    padding: 1vw 2vw;
    font-size: 1.6em;
}
.standard-btn{
    background-color:#62B9CB;
    margin: 1vw auto;
}
button:hover{
    box-shadow: 10px 5px 5px rgb(43, 41, 41);
}

/*home-search-bar*/

.allInput{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    margin: 1vw 0;
}

.searchSolo{
    width: 100vw;
}
.inputBackground{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1.5vw 1vw;
    border-radius: 5vw;
    margin: 0.5vw 0;
}
.search{
    width: 100%;
}
.date{
    width: 50%;
    align-self: flex-start;
}
.inputBackground img{
    width: 2vw;
}
.input-place{
    font-weight: 900;
    margin-left: 0.5vw;
    padding: 0 1vw;
    color: #000000;
    font-size: 1.2em;
    width: 90%;
    outline: none;
    border: none;
}
#passwordInput{
    width: 85%;
}
/*carpool*/
.flex-row{
    display: flex;
    flex-direction: row;
}
#show-carpool img, #carpool-detail img{
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    border-radius: 50vw;
}

#show-carpool{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
:is(#show-carpool,#carpool-detail) .flex-row{
    width: 60vw;
    margin: 0;  
    justify-content: space-around;
}
:is(#show-carpool, #carpool-detail) .flex-row:first-child{
    width: 60%;
    margin: 0 auto;
}
#show-carpool .flex-row:first-child>h2{
    margin-left: 10%;
}
#show-carpool .flex-row:nth-child(2) {
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}


#show-carpool>div{
    width: 100%;
}

/*filter*/ 
input[type="checkbox"] {
    appearance: none;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    /* Makes it circular */
    background-color: white;
    border: 1px solid #333;
    cursor: pointer;
}
input[type='checkbox']:checked,input[type='checkbox']:checked{
    background-color: #5FACD3;
}
#filter div{
    align-items: center;
    justify-content: center;
}
#filter p{
    text-align: center;
}
#filter input[type="text"]{
    width: 7%;
    font-size: 1.2em;
}
#filter>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#filter{
    display: flex;
    margin: 3vw 0 0 3vw;
    border-radius: 2vw;
    align-content: center;
}
#carpoolPage{
    justify-content: center;
}

/*CarpoolDetail*/ 
#carpool-detail>div{
    margin: 1vw 0;
}
#carpool-detail div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carpool-detail div:nth-child(2)>:is(p,h2){
    margin: 1vw 0;
}
#carpool-detail div:nth-child(3){
    width: 70%;
}
#carpool-detail div:nth-child(3)>div:first-child {
    text-align: center;
    width: 50%;
}
#carpool-detail div:nth-child(3)>div:last-child{
    width: 70%;
}

#carpool-detail>div:last-child{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

/*Valid participation*/ 

#finalAction img{
    display: flex;
    margin: 3vw auto;
    width: 60vw;
    height: 30vw;
    object-fit: cover;
}
#validParticipation .flex-row{
    justify-content: space-between;
}
#validParticipation .flex-row:first-child{
    width: 50%;
}

#validParticipation .flex-row:last-child{
    width: 25%;
}


.no{
    background-color: #CB6B62;
}
.yes{
    background-color: #62CBAA;
}
/*create Account */ 

#welcome img{
    margin: 0;
    background-color: #1790a8;
    width: 100vw;
    height: 20vw;
    object-fit: cover;
}

:is(#createAccount,#connexion)>p{
    width: 70%;
    text-align: center;
}
a{
    color: #004b70;
}

/*connexion*/

#connexion .flex-row:last-child{
    justify-content: space-between;
    width: 42%;
}

/*profile*/

#profile {
    width: 60%;
    
}
#profile>div{
    margin: 1vw 0;
}
#profile .flex-row{
    justify-content: space-around;
}
#profile>div:first-child>img{
    width: 8vw;
    background-color: white;
    border-radius: 50vw;
    object-fit: cover;
}
#profile>div.flex-row:first-child{
    align-self: flex-end;
    width: 40vw;
    align-items: center;
}
#profile>div.flex-row:nth-child(2) {
    width: 40vw;
}

td:first-child{
    font-size: 1.8em;
    text-align: center;
}

input[type='radio']{
    width: 1.5vw;
}

/*carpool info*/ 
:is(#rulesImgLeft, #rulesImgRight){
    display: flex;
    margin: auto;
}
:is(#rulesImgLeft,#rulesImgRight) img{
    max-width: 300px;
    width: 80%;
    max-height: 200px;
    height: max-content;
    justify-content: center;
    margin: 1vw 1vw;
    object-fit: cover;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

#carpoolInfo{
    width: 40vw;
}
#carpoolInfo div:nth-child(3){
    text-align: center;
    justify-content: space-between;
}
#carpoolInfo>div:nth-child(3) img{
    width: 3vw;
}
#carpoolInfo .ref{
    justify-content: space-between;   
    margin: 0 auto;
    width: fit-content;
}
#carpoolInfo .ref>div{
    align-items: center;
    margin: auto 2vw;
}
#carpoolInfo>div:nth-child(2) {
    justify-content: space-between;
    align-items: center;
}
#carpoolInfo>div:nth-child(2)>:is(h3,p){
    margin: 0 1vw;
}
#carpoolInfo>div:nth-child(3)>div:last-child{
    justify-content: center;
}
#carpoolInfo>div:nth-child(3)>div:last-child>:is(button,p){
    margin: auto 1vw;
}
#carpoolInfo>div:nth-child(3)>div:last-child>div{
    width: 30%;
    height: 2vw;
    padding: 1vw;
}

/*Histori*/

.sub-block{
    background-color: #1B4B65;
    color: white;
    border-radius: 1.5vw;
    padding: 2vw;
    width: 80%;
}
#histori>div{
    margin: 1vw 0;
}
#histori>div>.flex-row{
    justify-content: center;
}
#histori>div>.flex-row:first-child{
    width: 80%;
    justify-content: space-between;
    margin: auto;
}
#histori>div>.flex-row:nth-child(2) button{
    margin: 1vw 0.5vw;
}

/*travelOutpute*/
#travelOutpute .flex-row{
    align-items: center;
}
#travelOutpute>div>div:nth-child(3)>.inputBackground:last-child{
    margin:0 2vw;
}
select{
    height: 4vw;
    background-color: white;
    text-align: center;
    font-size:1.3em ;
}
#travelOutpute>div>div:last-child>.inputBackground{
    margin: 0 5vw;
}
#travelOutpute>div>div:last-child>.inputBackground>img{
    padding: 0.5vw auto;
    width: 2.5vw;
}

/*valid opinion*/
#validOpinion .flex-row{
    align-items: center;
}
#validOpinion>div{
    margin: 1vw 0;
}
:is(#validOpinion,#badTravel)>div>div:first-child{
    width: 100%;
    justify-content: space-between;
}
#validOpinion>div>div:nth-child(2)>:nth-child(2){
    width: 5vw;
    height: 5vw;
    margin: 0 0.5vw;
}
#validOpinion>div>div:nth-child(2)>:last-child {
    width: 3vw;
    height: 3vw;
}

/*bad travel*/ 

#badTravel>div>div:nth-child(2){
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

/*create employee*/ 

#createEmployee>div>p{
    display: flex;
    margin: 0 auto;
}

/*nb carpool*/ 


:is(#nbCarpool, #nbCredit) .flex-row{
    align-items: center;
}

:is(#nbCarpool, #nbCredit) img{
    width: 3vw;
    height: 4vw;
    object-fit: cover;
}
:is(#nbCarpool,#nbCredit) img:first-child{
    transform: rotate(180deg);
}
:is(#nbCarpool, #nbCredit).flex-row>p{
    margin: 0 1vw;
}

:is(#nbCarpool,#nbCredit,#totalCredit){
    max-width: 800px;
    width: 60vw;
}
